@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size:100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    background-color:var(--Pale-blue);

}

a{
    text-decoration: none;
}


:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Very-pale-blue: hsl(225, 100%, 98%);
}

.main{
    width: 23.5rem;
    height: 35rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main__hero__image{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 23.5rem;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 9rem;
    margin-top: 1.4rem;
}

.main__container__title{
    font-weight: 900;
    font-size: 1.6rem;
    color: var(--Dark-blue);
}

.main__container__paragraph{
    width: 18rem;
    text-align: center;
    color: var(--Dark-blue);
    font-size: 1rem;
    
}
.main__container__article{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__article{

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 85%;
    height: 5rem;
    border-radius: 0.8rem;
    background-color: var(--Very-pale-blue);
    
    
}
.main__article__container{
    display: flex;
    justify-content: space-evenly;
    width: 10rem;
    
}
.main__article img{
    width: 2.7rem;
    
}

.main__article__subscription{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    
}
.main__article__subscription .main__article__subscription__plan{
    color:var(--Dark-blue);
    font-weight: 900;
    font-size: 1rem;
}

.main__article__subscription .main__article__subscription__price{
    color: #717FA6;
    font-weight: 500;
    font-size: 1rem;
}

.main__article__change{
    color: rgb(70, 56, 194);
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.9rem;
}
.main__button-cancel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 7rem;
    margin-top: 1rem;

}
.main__button__proceed{
    width: 85%;
    height: 2.6rem;
    background-color: var(--Bright-blue);
    border-radius: 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0px 5px 12px var(--Desaturated-blue);
}

.main__button__proceed:hover{
    cursor: pointer;
}

.main__button__proceed:active{
    transform: scale(0.97);
}

.main__cancel-order{
    font-size: 0.8rem;
    color: #6e7485;
    font-weight: bold;
}


@media (max-width:400px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
    }
    .main{
        width: 90%;
    }
    .main__hero__image{
        width: 100%;
    }
    .main__article{
        gap:0;
    }
    .attribution{
        width: 90%;
        text-align: center;
        margin: auto;
    }
   
}

@media (max-width:350px){
    .main__container__paragraph{
        width: 14rem;
    }
    .main__container__article{
        margin-top: 1rem;
    }
    .main__article{
        justify-content: space-evenly;
    }
    .main__article__change{
        margin-right: 0.3rem;
    }
    .main__button-cancel{
        height: 11rem;
    }
}